@font-face {
    font-family: 'Ruberoid';
    src: url('./../fonts/Ruberoid-Bold.woff2') format('woff2'),
        url('./../fonts/Ruberoid-Bold.woff') format('woff');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}
@font-face {
    font-family: 'Ruberoid4';
    src: url('./../fonts/Ruberoid-Regular.woff2') format('woff2'),
        url('./../fonts/Ruberoid-Regular.woff') format('woff');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}
@font-face {
    font-family: 'Ruberoid3';
    src: url('./../fonts/Ruberoid-Light.woff2') format('woff2'),
        url('./../../fonts/Ruberoid-Light.woff') format('woff');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}