.elon{
    max-width: 1200px;
    display: flex;
    justify-content: space-between;
}
.yourinfo{
    display: flex;
    flex-direction: column;
}
.elon-cat, .elon-reg, .elon-dis, .elon-user, .user-cat, .user-name, .elon-number, .user-num, .elon-cost, .user-cost, .elon-comment {
    display: flex;
    flex-direction: column;
    max-width: 300px;
}
.categories, .regions, .district {
    min-height: 40px;
    background: #FFFFFF;
    border: 1px solid rgba(13, 81, 92, 0.25);
    box-sizing: border-box;
    border-radius: 4px;
    cursor: pointer;
}
.user-name, .user-cat, .user-num, .user-cost, .user-comment{
    min-height: 40px;
    background: #FFFFFF;
    border: 1px solid rgba(13, 81, 92, 0.25);
    box-sizing: border-box;
    border-radius: 4px;
    padding-left: 12px;
    font-size: 16px;
}
.user-num::placeholder{
    font-size: 15px;
    line-height: 21px;
    color: #084A4F;
    opacity: 0.55;
    font-family: Ruberoid4;
}
.user-cost::placeholder{
    font-size: 15px;
    line-height: 21px;
    color: #084A4F;
    opacity: 0.55;
    font-family: Ruberoid4;
    text-align: right;
}
.user-comment::placeholder{
    font-size: 15px;
    line-height: 21px;
    color: #084A4F;
    opacity: 0.65;
    font-family: Ruberoid4;
}
.user-cat::placeholder{
    font-size: 12px;
    line-height: 21px;
    color: #084A4F;
    opacity: 0.65;
    font-family: Ruberoid;
}
.yourinfo label{
    margin-top: 20px;
    margin-bottom: 4px;
    margin-left: 5px;
    font-size: 13px;
    line-height: 22px;
    color: #084A4F;
    opacity: 0.7;
    font-family: Ruberoid;
}

.value-after{
    width: 60px;
    height: 30px;
    color: #084A4F;
    opacity: .45;
    padding-right: 20px;
    margin-top: 12px;
    position: absolute;
    margin-top: 58px;
    margin-left: 170px;
}
.value-afterr{
    width: 60px;
    height: 30px;
    color: #084A4F;
    opacity: .45;
    padding-right: 20px;
    margin-top: 12px;
    position: absolute;
    margin-top: 58px;
    margin-left: 185px;
}


// Rasm Yuklash 

.image-uploading {
    margin-top: 20px;
    margin-left: 10px;
    width: 100%;
    max-width: 500px;
    display: flex;
    flex-direction: column;
    // justify-content: center;
    align-items: center;
}
.upload-text{
    margin-top: 10px;
    margin-bottom: 4px;
    margin-left: 10px;
    font-size: 13px;
    line-height: 22px;
    color: #084A4F;
    opacity: 0.7;
    font-family: Ruberoid;
    align-self: flex-start;
}
.upload {
    width: 96%;
    height: 360px;
    border: 1px solid #084A4F;
    border-radius: 4px;
    margin-top: 14px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    opacity: .45;
}
.uploader {
    width: 96%;
    height: 260px;
    border-radius: 4px;
    border: 1px dashed #084A4F;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 130px;
    background-image: url("./../images/X.svg");
    background-repeat: no-repeat;
    background-size: 100px;
    background-position: center;
    opacity: .9;
    cursor: pointer;
}
.others {
    display: flex;
    width: 96%;
    height: 50px;
    justify-content: space-between;
    margin-top: 15px;
}
.tinys {
    width: 80px;
    height: 60px;
    border: 1px dashed #084A4F;
    border-radius: 4px;
    cursor: pointer;
}
.send-btn {
    width: 190px;
    height: 40px;
    border: 1px solid transparent;
    border-radius: 4px;
    background-color: #0D515C;
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: Ruberoid;
    color: white;
    font-size: 14px;
    line-height: 20px;
    margin-right: 10px;
    position: relative;
    top: 20px;
}
.send-btn__link{
    text-decoration: none;
    align-self: flex-end;
}
.elon-footer{
    margin-top: 60px;
}
.send-btn:hover{
    cursor: pointer;
    background-color: #063c44;
}

/*Tasdiqlash Page*/
.tasdiqlash{
    width: 100%;
    height: 70vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.confirm-btn {
    width: 35%;
    height: 40px;
    border: 1px solid transparent;
    border-radius: 4px;
    background-color: #0D515C;
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: Ruberoid;
    color: white;
    font-size: 14px;
    line-height: 20px;
    margin-top: 10px;

}
.confirm-btn:hover{
    cursor: pointer;
    background-color: #063c44;
}
.confirm-input{
    min-height: 40px;
    background: #FFFFFF;
    border: 1px solid rgba(13, 81, 92, 0.25);
    box-sizing: border-box;
    border-radius: 4px;
    padding-left: 12px;
    font-size: 16px;
    width: 35%;
}
.confirm-input::placeholder{
    font-size: 24px;
    color: #084A4F;
    opacity: 0.55;
    font-family: Ruberoid4;
}
.confirm-label{
    margin-top: 20px;
    margin-bottom: 4px;
    margin-left: 5px;
    font-size: 13px;
    line-height: 22px;
    color: #084A4F;
    opacity: 0.7;
    font-family: Ruberoid;
}

/* BreadCrumbs */

.breadcrumb{
    font-family: Ruberoid4;
    font-size: 12px;
    display: flex;
}
.link-joyi{
    text-decoration: none;
    color: rgba(0, 0, 0, 0.35);
}
.is-active{
    text-decoration: none;
    color: #22AD77;
}


/* Tablet */
@media only screen and (max-width: 800px) {
    .upload{
        margin-right: 0;
    }
    .image-uploading{
        margin-left: 30px;
        margin-right: 30px;
        margin: 0 auto;
    }
    .elon{
        flex-direction: column;
        justify-content: unset;
    }
    .yourinfo{
        margin: 0 auto;
    }
    .confirm-btn, .confirm-input{
        width: 60%;
    }
    .send-btn{
        width: 96%;
        margin: 0 auto;
    }
    .elon-cat, .elon-reg, .elon-dis, .elon-user, .user-cat, .user-name, .elon-number, .user-num, .elon-cost, .user-cost, .elon-comment {
        display: flex;
        flex-direction: column;
        width: 300px;
    }
    .send-btn__link{
        white-space: nowrap;
        min-width: 100%;
    }
}

/* Mobile */
@media only screen and (max-width: 600px) {
    .uploader{
        height: 180px;
    }
    .upload{
        height: 280px;
        margin: 0;
    }
    .tinys{
        width: 60px;
        height: 45px;
    }
    .confirm-btn, .confirm-input{
        width: 75%;
    }   
    .value-after{
        margin-left: 240px;
    }
    .value-afterr{
        margin-left: 255px;
    }
}
/* Mobile */
@media only screen and (max-width: 376px) {
    .upload{
        min-width: 296px;
        margin: 0 auto;
    }
}