.intro{
    width: 100%;
    height: 720px;
    background-image: url("./../images/menu-background.png") ;
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
}
.bg-blur{
    width: 100%;
    height: 95px;
    background-image: url("./../images/bg-blurred.png");
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    position: absolute;
    filter: blur(10px);
}
.header {
    width: 100%;
    display: flex;
    justify-content: space-around;
    align-items: center;
    position: relative;
}
.header__logo{
    width: 249px;
    height: 56px;
}
.hamburger-menu__img{
    display: none;
}
.hamburger-menu__toggler {
    display: flex;
    align-items: center;
    width: 30px;
    height: 30px;

    &:hover{
        cursor: pointer;
    }
}
.search-part {
    display: flex;
    justify-content: space-between;
    width: 637px;
    height: 27px;
    margin: 16px 16px 16px 25px;
    display: none;
}
.search-space {
    width: 85%;
    height: 100%;
}
.submit-btn {
    display: block;
    width: 80px;
    height: 100%;
    text-decoration: none;
    border: 1px solid transparent;
    border-radius: 0;
    background-color: #22AD77;
    cursor: pointer;
    margin-left: 15px;
}
.header-menu {
    width: 678px;
    display: flex;
    justify-content: space-around;
    margin: 0;
    font-family: Ruberoid;
}
.dNone{
    display: none;
}
.dBlock{
    display: block;
    display: flex;
}
.header-menu__item {
    font-size: 20px;
    line-height: 27.4px;
}
.header-menu__link:hover{
    color: #22AD77;
    transition: .4s;
    border: 1px solid #22AD77;
}
.header-menu__link {
    text-decoration: none;
    color: #FFFFFF;
    text-transform: uppercase;
    padding: 9px;
    border-radius: 4px;
}
.search-btn {
    display: block;
    flex-shrink: 0;
    width: 30px;
    height: 30px;
    border: 1px solid transparent;
    border-radius: 50%;
    background-color: #22AD77;
    background-image: url("./../images/fi-rr-shopping-cart.svg");
    background-repeat: no-repeat;
    background-position: center;
    background-size: 16px;
    margin-left: 10px;
    margin-right: 10px;
    cursor: pointer;
}
.languages {
    width: 63px;
    height:30px;
    background-color: transparent;
    border: 0;
    text-decoration: none;
    outline: transparent;
    color: #22AD77;
    font-size: 15px;
    margin-left: 10px;
    margin-right: 10px;
    cursor: pointer;
    font-family: Ruberoid4;
}
.header-contact__link {
    text-decoration: none;
    color: #FFFFFF;
    font-size: 18px;
    line-height: 27px;
    white-space: nowrap;
    font-family: Ruberoid;
}
.header-contact__num {
    border-radius: 4px;
    padding: 10px 18px;
    background-color: #22AD77;
}
.header-menu__hamburger{
    display: none;
}
.mobile-menu__img{
    display: none;
}

/* Tablet */
@media only screen and (max-width: 800px) {
    .hamburger-menu__img{
        display: block;
    }
    .header-menu, .search-part, .search-btn, .languages{
        display: none;
    }
    .header-menu__hamburger{
        display: block;
        width: 100%;
        min-height: 100vh;
        background-color: black;
        margin: 0;
        display: flex ;
        flex-direction: column;
        align-items: center;
        position: relative;
        padding: 0;
        display: none;
        transition: .4s;
    }
    .displayBlock{
        display: block;
        display: flex;
    }
    .displayNone{
        display: none;
    }
    .header-menu__item{
        padding: 20px;
    }
    .header-contact__link{
        font-size: 10px;
        line-height: 12px;
    }
    .header-contact__btn{
        padding: 5px 12px;
        margin-left: 10px;
        display: flex;
        align-items: center;
        background-color: #22AD77;
        border-radius: 4px;
    }
    .header-contact__num{
        padding: 0;
        padding-right: 5px;
    }
    .header__logo{
        width: 120px;
    }
    .call-img{
        width: 14px;
        height: 14px;
        display: block;
        background-image: url("./../images/Vector.svg");
    }
    .bg-blur{
        height: 56px;
    }
}