.hero {
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    position: relative;
}
.hero-title {
    font-size: 50px;
    line-height: 80px;
    max-width: 900px;
    text-align: center;
    text-transform: uppercase;
    color: white;
    margin-top: 160px;
    font-family: Ruberoid;
}
.hero__link-elon {
    text-decoration: none;
    color: #FFFFFF;
    font-size: 20px;
    line-height: 27px;
    white-space: nowrap;
    border-radius: 4px;
    padding: 18px 40px 13px 50px;
    background-color: #22AD77;
    text-transform: uppercase;
    font-family: Ruberoid;
    transition: .4s;
}
.hero__link-elon:hover{
    background-color: #ffffff;
    color: #22AD77;
    transition: .4s;
}

.hero__link-youtube {
    text-decoration: none;
}
.youtube-btn__inner {
    width: 227px;
    height: 50px;
    display: flex;
    padding: 12px 17px 12px 21px;
    align-items: center;
    justify-content: space-around;
    border-radius: 4px;
    background-color: #fff;
    transform: translateY(80px);
}
.youtube-btn__img {
    width: 34px;
    height: 26px;
    background-image: url("./../images/youtube 1.svg");
    background-repeat: no-repeat;
    background-position: center;
    background-size: contain;
}
.youtube-btn__title {
    margin: 0;
    font-size: 16px;
    line-height: 24px;
    font-family: Ruberoid4;
}
.youtube-btn__title-link{
    text-decoration: none;
    color: black;
}
.marquee-element{
    width: 100%;
    height: 100px;
    background-color: #22AD77;
    display: flex;
    flex-direction: column;
    justify-content: center;
}
.hero-marquee{
    height: 80px;
    border: 1px solid white;
    display: flex !important;
    color: white;
    align-items: center;
    padding-bottom: 10px;
    font-family: Ruberoid;

    & h3 {
        margin-left: 10px;
        margin-right: 10px;

        & img {
            margin-bottom: -10px;
        }
    }
}

/* Tablet */
@media only screen and (max-width: 800px) {
    .hero-title{
        font-size: 40px;
        line-height: 50px;
        margin-top: 210px;
    }
    .hero__link-elon {
        font-size: 16px;
        line-height: 22px;
        padding: 15px 42px;
    }
    .hero__link-youtube{
        display: none;
    }
    .marquee-element{
        height: 80px;
    }
    .hero-marquee{
        font-size: 18px;
        height: 50px;
    }

}

/* Mobile */
@media only screen and (max-width: 480px) {
    .hero-title{
        font-size: 20px;
        margin-top: 180px;
    }

    .marquee-element{
        height: 60px;
    }
    .hero-marquee{
        font-size: 15px;
        height: 45px;
    }
}