.product-part{
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}
.product-title{
    font-size: 32px;
    line-height: 38px;
    text-transform: uppercase;
    max-width: 500px;
    color: hsl(188, 75%, 21%);
    font-family: Ruberoid;
    text-align: center;
}

/* Product Cards*/
.products {
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}
.products-item {
    width: 28%;
    min-width: 280px;
    border: 1px solid #c3c3c3;
    border-radius: 4px;
    padding: 8px;
    padding-bottom: 35px;
    display: flex;
    flex-direction: column;
    margin: 20px 25px;
    font-family: Ruberoid;

}
.products-item__img {
    height: 200px;
    border-radius: 4px;
    background-image: url("./../images/olma(product)@2x.png");
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    display: flex;
    justify-content: flex-end;
}
.products-item__img-bookmark {
    width: 30px;
    height: 30px;
    border: 1px solid transparent;
    border-radius: 50%;
    display: block;
    background-image: url("./../images/bookmark-icon.svg");
    background-repeat: no-repeat;
    background-position: center;
    background-size: contain;
    margin: 8px 10px 0 0;
    transition: .3s;
}
.products-item__img-bookmark:hover{
    border-color: #0D515C;
    cursor: pointer;
    transition: .3s;
}
.products-item__img-options {
    position: absolute;
    width: 50px;
    height: 10px;
    display: block;
    background-image: url("./../images/options-dots.svg");
    background-repeat: no-repeat;
    background-position: center;
    background-size: contain;
    transform: translate(-18px,-12px);
    align-self: flex-end;
    transition: .3s;
    cursor: pointer;
}
.products-item__inner {
    display: flex;
    flex-direction: column;
    align-items: center;
}
.products-item__inner-btn {
    width: 130px;
    height: 35px;
    padding: 5px;
    outline: none;
    border: 2px solid transparent;
    border-radius: 4px;
    background-color: #0D515C;
    color: #ffffff;
    margin-top: 27px;
    font-size: 15px;
    line-height: 22px;
    font-weight: 600;
    transition: .4s ease-in;
}
.products-item__inner-btn:hover{
    cursor: pointer;
    background-color: #fff;
    color: #0D515C;
    border-color: #0D515C;
    transition: .4s ease-in;
}
.products-item__inner-title {
    font-size: 20px;
    line-height: 23px;
    color: #0D515C;
    text-align: center;
}
.products-item__inner-link {
    display: flex;
    align-items: center;
    justify-content: center;
    text-decoration: none;
}
.products-item__inner-link p{
    margin: 0;
    color: #0D515C;
    font-size: 14px;
    line-height: 14px;
    text-align: center;
}

.products-more{
    width: 92%;
    height: 50px;
    border: 1px solid rgba(0, 0, 0, 0.45);
    border-radius: 4px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}
.products-more:hover{
    border:2px solid black;
    cursor: pointer;
    transition: .4s;
}

/* 1080px */
@media only screen and (max-width: 1080px) {
    .products-more{
        max-width: 610px;
    }
}
/* Tablet */
@media only screen and (max-width: 800px) {
    .product-title{
        font-size: 28px;
        line-height: 35px;
    }
    .products-item{
        min-width: 340px;
    }
    .products-more{
        max-width: 340px;
    }
}

/* Mobile */
@media only screen and (max-width: 480px) {
    .container{
        padding: 20px;
    }
    .product-title{
        font-size: 20px;
        line-height: 28px;
        white-space: nowrap;
    }
    .products-item{
        margin: 0;
        margin-bottom: 20px;
        width: 340px;
    }
    .products-item__inner-link p{
        font-size: 14px;
        line-height: 18px;
    }
    .products-more{
        max-width: 140px;
        background: #22AD77;
        border: 0;
        color: white;
        align-self: flex-end;
        margin-right: 40px;
    }
    .products-more:hover{
        border: 0;
    }
}