.product-part{
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}
.product-title{
    font-size: 32px;
    line-height: 38px;
    text-transform: uppercase;
    color: hsl(188, 75%, 21%);
    font-family: Ruberoid;
    text-align: center;
}

/* Product Cards*/
.products {
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}
.products-item {
    width: 28%;
    min-width: 280px;
    border: 1px solid #c3c3c3;
    border-radius: 4px;
    padding: 8px;
    padding-bottom: 35px;
    display: flex;
    flex-direction: column;
    margin: 20px 25px;
    font-family: Ruberoid;
}
.products-item__img {
    height: 200px;
    border-radius: 4px;
    background-image: url("./../images/olma(product)@2x.png");
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    display: flex;
    justify-content: flex-end;
}
.products-item__link{
    text-decoration: none;
    color: #0D515C;
}
.products-item__inner {
    display: flex;
    flex-direction: column;
    align-items: center;
}
.products-item__inner-btn {
    width: 130px;
    height: 35px;
    padding: 5px;
    outline: none;
    border: 2px solid transparent;
    border-radius: 4px;
    background-color: #0D515C;
    color: #ffffff;
    margin-top: 27px;
    font-size: 15px;
    line-height: 22px;
    font-weight: 600;
    transition: .4s ease-in;
}
.products-item__inner-btn:hover{
    cursor: pointer;
    background-color: #fff;
    color: #0D515C;
    border-color: #0D515C;
    transition: .4s ease-in;
}
.products-item__inner-title, .products-item__inner-cost {
    font-size: 20px;
    line-height: 23px;
    color: #0D515C;
    text-align: center;
    margin: 0;
    margin-top: 25px;
}
.products-item__inner-cost{
    margin-bottom: 25px;
}
.products-item__inner-link {
    display: flex;
    align-items: center;
    justify-content: center;
    text-decoration: none;
}
.products-item__inner-link p{
    margin: 0;
    color: #0D515C;
    font-size: 14px;
    line-height: 14px;
    text-align: center;
    opacity: .45;
    display: flex;
}
.location-name::before{
    content: "";
    display: block;
    width: 16px;
    height: 16px;
    background-image: url("./../images/location-vector.svg");
    background-repeat: no-repeat;
    background-size: contain;
    background-position: center;
    margin-bottom: 15px;
}

.products-more{
    width: 92%;
    height: 50px;
    border: 2px solid #0D515C;
    border-radius: 4px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    transition: .4S;
}
.products-more:hover{
    cursor: pointer;
    background-color: #0D515C;
    color: #FFF;
    transition: .4s;
}

/* 1080px */
@media only screen and (max-width: 1080px) {
    .products-more{
        max-width: 610px;
    }
}
/* Tablet */
@media only screen and (max-width: 800px) {
    .product-title{
        font-size: 28px;
        line-height: 35px;
    }
    .products-item{
        min-width: 340px;
    }
    .products-more{
        max-width: 340px;
    }
}

/* Mobile */
@media only screen and (max-width: 480px) {
    .container{
        padding: 20px;
    }
    .product-title{
        font-size: 20px;
        line-height: 28px;
        white-space: nowrap;
    }
    .products-item{
        margin: 0;
        margin-bottom: 20px;
        width: 340px;
    }
    .products-item__inner-link p{
        font-size: 14px;
        line-height: 18px;
    }
    .products-more{
        max-width: 140px;
        background-color: #0D515C;
        color: #fff;
        align-self: center;
    }
    .products-more:hover{
        border-color: #0D515C;
        background-color: #fff;
        color: #0D515C;
    }
}